<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <style>
    /* fallback */
    @font-face {
      font-family: 'Material Icons';
      font-style: normal;
      font-weight: 400;
      src: url(../fonts/roboto/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
    }

    .material-icons {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
    }
  </style>
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>卷就完事了</title>
</head>

<body>
  <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script>
    if (localStorage.getItem("toast")) {
      let msg = localStorage.getItem("toast");
      localStorage.removeItem("toast");
      Materialize.toast(msg, 3000);
    }

    let pathname = window.location.pathname;
    let enterpriseName = /.*enterprise\/(.*)/g.exec(pathname)[1]

    window.doneSubject = function (subjectId, questionId, tries) {
      $.get('enterprise/' + enterpriseName + '/done/' + subjectId).then(function (res) {
        if (res.code != 0) {
          Materialize.toast(res.msg, 3000);
          return;
        }

        localStorage.setItem("toast", ` finished No.${questionId} question ${tries + 1} times!!`)
        location.reload();
      })
    }
  </script>

  {{!-- {{_subjects}} --}}
  <div class="row">
    {{#each subjects}}
    <div class="col s12 m3">
      <div class="card darken-1">
        <div class="card-content">
          <span class="card-title">{{question_id}} : {{type}}</span>
          <p>{{question_name}}</p>
        </div>
        <div class="card-action">
          <a href="{{question_url}}" target="view_window">Open LeetCode</a>

          {{#if done}}
          <a style="position: absolute; color: green;right: 0;"><i class="material-icons">done</i></a>
          {{else}}
          <a class="btn-floating btn-small waves-effect waves-light red" style="position: absolute !important;
    right: 10px;
    top: -23px;" onclick="doneSubject({{id}}, '{{question_id}}', {{finish_frequency}})"><i class="material-icons">done</i></a>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</body>

</html>